
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<br />
Pas encore de compte ?@Html.ActionLink("SignUp now","SignUp","Account") 
<br />
Déjà un compte ?@Html.ActionLink("Login","LogIn","Account") 