
@{
    ViewBag.Title = "UnAuthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UnAuthorize access !</h2>
<p>You don't have permission to access this page</p>
<div>@Html.ActionLink("Back to Main", "Welcome", "Home") 
</div>

